.wrapper {
  padding: 20px;
  min-height: 600px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-box label {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.input-box input {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #ccc;
  height: 40px;
}

.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 20px;
}

.box-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: tomato;
  padding: 20px;
  margin-bottom: 50px;
}

.coins {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 100px;
  color: gray;
}

.share-buttons {
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 30px;
  gap: 20px;
  /* Increased gap from 10px to 20px */
}

.share-buttons * {

  margin: 0 3px 10px;
  /* Increased gap from 10px to 20px */
}

.result-title {
  color: tomato;
  font-size: 30px;
  margin: 20px 0 40px;


}

.result-div {
  color: #333;
  vertical-align: bottom;
  font-size: 20px;


}


.share-buttons svg {
  width: 50px;
  height: 50px;
}

h2 {
  color: tomato;
  margin-top: 40px;
  margin-bottom: -40px;
  text-align: center;
}